section {
    margin-top: 100px;
    margin-bottom:50px;
}

.form-control {
    display: inline-block;
    max-width: 800px;
}

footer {
    background-color: #18bc9c;
    color: #fff;
}

.zillow-img {
    max-width: 100% !important;
}

@media(min-width:993px) {
    .modal-xl {
        width:85% !important;
    }
}

.smImg {
    cursor: pointer;
    margin: 8px;
    max-width: 70px;
    width: 100%;
}